@charset "UTF-8";

body{
    position: relative;
    background: #9b876e url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}
#celular{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    width: 400px;
    height: 600px;
}
#tela{
    position: relative;
    top: 76px;
    left: 71px;
    width: 258px;
    height: 456px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#redes-sociais{
    text-align: right;
}
#redes-sociais img{
    border-radius: 55%;
    width: 70px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.753);
    text-align: right;
    margin-top: 20px;
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.308);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.753);
    transition: transform 0.5s, border 0.2s;
}